
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
{#<title>Complete Example</title>#}
    <title>Bokeh</title>


    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-1.3.1.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.1.min.css"/>
    <link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.1.min.css"/>
</head>

<body>
   Bokeh  Graph
    {{div | safe}}
</body>



    <script src="http://cdn.pydata.org/bokeh/release/bokeh-1.3.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-1.3.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-1.3.1.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-api-1.3.1.min.js"></script>

{#    <script type="text/javascript" src="https://cdn.pydata.org/bokeh/release/bokeh-gl-1.3.1.min.js"></script>#}
    {{script | safe}}
</html>