html{height:100%;}
body{min-height:100%;margin:0;padding:0;
    position:relative;
    /*background: #DDD8D8;*/
}

#sidebar{
    margin-top: 10px;

}

#categories{
    margin-top: 10px;
}

#maincontent{
    margin-top: 10px;
    padding: 5px;
}

/*#homegraph{*/
/*    width: 200px;*/
/*    height:150pX;*/
/*}*/
p{
    font-family: 'Open Sans', sans-serif;
    font-size:14px;
    /*word-break: break-all;*/
    /*word-wrap: break-word;*/
}
h1 {
    font-family: 'Oswald', sans-serif;
    font-size:40px;
}
h3 {
    font-family: 'Oswald', sans-serif;
    font-size:25px;
}
/*header{background-color: #ffe4c4;}*/
/*main{padding-bottom:100px;background-color: #bdb76b;}!* main的padding-bottom值要等于或大于footer的height值 *!*/

main{padding-bottom:100px;}/* main的padding-bottom值要等于或大于footer的height值 */
/*footer{position:absolute;bottom:0;width:100%;height:25px;background-color: #ffc0cb;}*/
footer{position:absolute;bottom:0;width:100%;height:25px;}