
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    {% load staticfiles %}
        <link rel="shortcut icon" href="{%static "favicon.ico"  %}" />
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta name="msvalidate.01" content="67E7EDB1C51D8636FBFDE580F4C6BFD1" />
{#<meta name="baidu-site-verification" content="SS7G439MNv" />#}
<title>
  CV | Jiyu yan
</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<!--<link rel="stylesheet" href=""> -->
<style type="text/css">
.prettyprint ol.linenums > li { list-style-type: decimal; }
.nav { }
.nav li { float: left; width: 70px; }
.content { padding: 30px 0; }
body, h1, h2, h3, h4 { font-family: "Fjalla One","Georgia","Helvetica Neue",Arial,sans-serif;}
header { width: 100%; height: 80px;}
blockquote p { font-size: 14px; }
</style>
</head>

<nav class="navbar navbar-expand-lg  navbar-light">
  <a class="navbar-brand" href="{% url 'home' %}">不可思议</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav mr-auto">
      <a class="nav-item nav-link" href="https://www.linkedin.com/in/jiyu-yan/" target="_blank">LinkedIn</a>
              <a class="nav-item nav-link" href="https://github.com/Anderbone?tab=repositories" target="_blank">Github</a>
{#                       <span class="sr-only">(current)</span>#}
{#      <a class="nav-item nav-link" href="{% static 'cv.pdf' %}">Resume</a>#}
      <a class="nav-item nav-link" href="{% url 'webcv' %}">Resume</a>
{#      <a class="nav-item nav-link" href="{% url 'allblogs' %}">Blog</a>#}
{#      <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>#}
    </div>
  </div>
</nav>

<body>

<div class="container">
{#  <header class="header">#}
{#    <h1 class="site_title">Static Oneplus <small>不可控制论</small></h1>#}
{#    <ul class="nav pull-right">#}
{#      <li><a href="/">Home</a></li>#}
{#      <li><a href="/cv/">CV</a></li>#}
{#      <!--<li><a href="/blog/">Blog</a></li>#}
{#      <li><a href="/notes/">Notes</a></li>#}
{#      <li><a href="/feed.xml">RSS</a></li>-->#}
{#    </ul>#}
{#  </header>#}

  <div class="content">
    <div id="content">
  <h3>Jiyu yan (Ian)</h3>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <!-- <div class="col-md-12">
                <strong class="text-danger">I am expected to graduate in November 2018 and I am on the job market now.</strong>
            </div> -->
{#            <a href="mailto:yanchiyu@outlook.com" >yanchiyu@outlook.com</a>#}
{#            <a class="nav-item nav-link" href="{% static 'cv.pdf' %}">Resume</a>#}
            <div class="col-md-12">
                <a href="mailto:yanchiyu@outlook.com" >yanchiyu@outlook.com</a>| <a href="{% static 'cv4.pdf' %}">[Get CV in PDF]</a> | <a href="{% url 'webcvzh' %}">[中文]</a>
            </div>
        </div>
    </div>
</div>

<hr />

{#<div class="row"><p>#}
{#  <div class="col-md-2">RESEARCH INTERESTS</div>#}
{#  <div class="col-md-10">#}
{#    Distributed deep learning, Natural language processing, Data analysis. My supervisor is <a href="https://www.dcs.warwick.ac.uk/~liganghe/">Ligang He</a>.#}
{#  </div>#}
{#</p></div>#}

<div class="row"><p>
  <div class="col-md-2">EDUCATION</div>
  <div class="col-md-10">
    <div class="row">
      <div class="col-md-12"><em>M.S.</em>, The University of Warwick<span class="pull-right">2018.10 - 2019.10</span></div>
      <div class="col-md-12">Major: Computer Science&nbsp;&nbsp;&nbsp;Predicted: First class(GPA 72.5/100)</div>
      <div class="col-md-12">Supervisor: <a href="https://www.dcs.warwick.ac.uk/~liganghe/" target="_blank">Dr.Ligang He</a></div>
{#      <div class="col-md-12">GPA:72.5/100(First class)</div>#}
    </div>
    <p></p>
{#    <div class="row">#}
{#      <div class="col-md-12"><em>Visiting Student</em>, University of Washington<span class="pull-right">2016.10 - 2017.9</span></div>#}
{#      <div class="col-md-12">Supervisor: <a href="http://homes.cs.washington.edu/~nasmith/">Noah A. Smith</a></div>#}
{#    </div>#}
{#    <p></p>#}
    <div class="row">
      <div class="col-md-12"><em>M.S.</em>, University of Electronic Science and Technology of China<span class="pull-right">2015.9 - 2018.7</span></div>
      <div class="col-md-12">Major: Electronics and Communication Engineering&nbsp;&nbsp; &nbsp;GPA:&nbsp;3.4/4.0</div>
      <div class="col-md-12">Supervisor: <a href="http://faculty.uestc.edu.cn/yangning/zh_CN/index/151869/list/index.htm" target="_blank">Dr.Ning Yang</a></div>
{#        <div class="col-md-12">GPA:3.4/4.0</div>#}
    </div>
    <p></p>
    <div class="row">
      <div class="col-md-12"><em>B.E.</em>, University of Electronic Science and Technology of China<span class="pull-right">2011.9 - 2015.7</span></div>
      <div class="col-md-12">Major: Communication Engineering&nbsp;&nbsp;&nbsp;GPA:&nbsp;3.7/4.0</div>
{#        <div class="col-md-12">GPA:3.7/4.0</div>#}
    </div>
  </div>
</div>
 <p></p>
{#<div class="row"><p>#}
{#  <div class="col-md-2">PUBLICATION</div>#}
{#  <div class="col-md-10">#}
{#    <div class="row"><div class="col-md-12">#}
{#        <strong>Yijia Liu</strong>, Wanxiang Che, Huaipeng Zhao, Bing Qin, and Ting Liu. 2018.#}
{#        <a href="http://aclweb.org/anthology/P18-1129">Distilling Knowledge for Search-based Structured Prediction</a>.#}
{#        In <em>Proceedings of the 56th Annual Meeting of the Association for Computational Linguistics</em> (ACL).#}
{#        | <a href="https://github.com/Oneplus/twpipe">[code for parser]</a> | <a href="https://github.com/Oneplus/OpenNMT-py">[code for NMT]</a>#}
{#        | <a href="res/2018-06-19-report.compressed.pdf">[slide] </a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row"><div class="col-md-12">#}
{#        <strong>Yijia Liu</strong>, Wanxiang Che, Bo Zheng, Bing Qin, and Ting Liu. 2018.#}
{#        <a href="https://arxiv.org/abs/1810.03541">An AMR Aligner Tuned by Transition-based Parser</a>.#}
{#        In <em>Proceedings of the 2018 Conference on Empirical Methods in Natural Language Processing</em> (EMNLP).#}
{#        | <a href="https://github.com/Oneplus/tamr">[code]</a>#}
{#        | <a href="res/2018-09-07-amr.compressed.pdf">[slide] </a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row"><div class="col-md-12">#}
{#        <strong>Yijia Liu</strong>, Yi Zhu, Wanxiang Che, Bing Qin, Nathan Schneider, and Noah A. Smith. 2018.#}
{#        <a href="http://aclweb.org/anthology/N18-1088">Parsing Tweets into Universal Dependency</a>.#}
{#        In <em>Proceedings of the 2018 Conference of the North American Chapter of the Association for Computational Linguistics: Human Language Technologies</em> (NAACL).#}
{#        | <a href="https://github.com/Oneplus/twpipe">[code]</a>#}
{#        | <a href="https://github.com/Oneplus/Tweebank">[data]</a>#}
{#        | <a href="res/2018-06-01-naacl-poster.compressed.pdf">[poster]</a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row"><div class="col-md-12">#}
{#        Wanxiang Che, <strong>Yijia Liu</strong>, Yuxuan Wang, Bo Zheng, and Ting Liu. 2018.#}
{#        <a href="https://arxiv.org/pdf/1807.03121.pdf">Towards Better UD Parsing: Deep Contextualized Word Embeddings, Ensemble, and Treebank Concatenation</a>.#}
{#        In <em>Proceedings of the CoNLL 2018 Shared Task: Multilingual Parsing from Raw Text to Universal Dependencies</em> (CoNLL).#}
{#        | <a href="http://universaldependencies.org/conll18/results.html">[shared-task results]</a>#}
{#        | <a href="res/2018-10-12-conll.compressed.pdf">[slide]</a>#}
{#        | <a href="res/2018-10-12-conll-poster.compressed.pdf">[poster]</a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row"><div class="col-md-12">#}
{#        Yutai Hou, <strong>Yijia Liu</strong>, Wanxiang Che and Ting Liu, 2018.#}
{#        <a href="https://arxiv.org/pdf/1807.01554.pdf">Sequence-to-Sequence Data Augmentation for Dialogue Language Understanding</a>.#}
{#        In <em>Proceedings of the 27th International Conference on Computational Linguistics</em> (COLING).#}
{#        | <a href="https://github.com/AtmaHou/Seq2SeqDataAugmentationForLU">[code]</a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row"><div class="col-md-12">#}
{#        Haoyang Wen, <strong>Yijia Liu</strong>, Wanxiang Che, Libo Qin and Ting Liu, 2018.#}
{#        <a href="https://arxiv.org/pdf/1806.04441.pdf">Sequence-to-Sequence Learning for Task-oriented Dialogue with Dialogue State Representation</a>.#}
{#        In <em>Proceedings of the 27th International Conference on Computational Linguistics</em> (COLING).#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row"><div class="col-md-12">#}
{#        <strong>Yijia Liu</strong>, Wanxiang Che, Jiang Guo, Bing Qin, and Ting Liu. 2016.#}
{#        <a href="http://www.ijcai.org/Proceedings/16/Papers/409.pdf">Exploring Segment Representations for Neural Segmentation Models</a>.#}
{#        In <em>Proceedings of 25th International Joint Conference on Artificial Intelligence</em> (IJCAI).#}
{#        | <a href="https://github.com/ExpResults/segrep-for-nn-semicrf">[code]</a>#}
{#        | <a href="res/2016-05-22-semi-crf.compressed.pdf">[slide]</a>#}
{#        | <a href="res/2016-05-22-semi-crf-poster.compressed.pdf">[poster]</a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row"><div class="col-md-12">#}
{#        <strong>Yijia Liu</strong>, Wanxiang Che, Bing Qin, and Ting Liu. 2016.#}
{#        <a href="http://www.ijcai.org/Proceedings/16/Papers/410.pdf">HC-search for Incremental Parsing</a>.#}
{#        In <em>Proceedings of 25th International Joint Conference on Artificial Intelligence</em> (IJCAI).#}
{#        | <a href="https://github.com/ExpResults/hc-incremental-parsing">[code]</a>#}
{#        | <a href="res/2016-05-22-hc-search.compressed.pdf">[slide]</a>#}
{#        | <a href="res/2016-05-22-hc-search-poster.compressed.pdf">[poster]</a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row"><div class="col-md-12">#}
{#        <strong>Yijia Liu</strong>, Yue Zhang, Wanxiang Che, and Ting Liu. 2015.#}
{#        <a href="http://www.aclweb.org/anthology/N/N15/N15-1012.pdf">Transition-Based Syntactic Linearization</a>.#}
{#        In <em>Proceedings of the 2015 Conference of the North American Chapter of the Association for Computational Linguistics: Human Language Technologies</em> (NAACL).#}
{#        | <a href="https://github.com/ExpResults/srgen">[code]</a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row"><div class="col-md-12">#}
{#        <strong>Yijia Liu</strong>, Yue Zhang, Wanxiang Che, and Ting Liu. 2014.#}
{#        <a href="http://aclweb.org/anthology/D/D14/D14-1093.pdf">Domain Adaptation for CRF-based Chinese Word Segmentation using Free Annotations</a>.#}
{#        In <em>Proceedings of the 2014 Conference on Empirical Methods in Natural Language Processing</em> (EMNLP).#}
{#        | <a href="https://github.com/ExpResults/partial-crfsuite">[code]</a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row">#}
{#      <div class="col-md-12">#}
{#        <strong>Yijia Liu</strong>, Wanxiang Che, and Ting Liu. 2013.#}
{#        <a href="http://link.springer.com/chapter/10.1007%2F978-3-642-41491-6_6#">Enhancing chinese word segmentation with character clustering</a>.#}
{#        In <em>Chinese Computational Linguistics and Natural Language Processing Based on Naturally Annotated Big Data</em> (CCL).#}
{#      </div>#}
{#    </div>#}
{#    <p></p>#}
{##}
{#    <div class="row">#}
{#      <div class="col-md-12">#}
{#        <strong>Yijia Liu</strong>, Meishan Zhang, Wanxiang Che, Ting Liu, and Yihe Deng. 2012.#}
{#        <a href="http://aclweb.org/anthology/W/W12/W12-6316.pdf">Micro blogs Oriented Word Segmentation System</a>.#}
{#        In <em>Proceedings of the Second CIPS-SIGHAN Joint Conference on Chinese Language Processing</em>.#}
{#        | <a href="https://github.com/Oneplus/libweicws">[code]</a>#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row">#}
{#      <div class="col-md-12">#}
{#        Meishan Zhang, Wanxiang Che, <strong>Yijia Liu</strong>, Zhenghua Li, Ting Liu. 2012.#}
{#        <a href="https://sites.google.com/site/sancl2012/home/programme">HIT dependency parsing: Bootstrap aggregating heterogeneous parsers</a>.#}
{#        In <em>Notes of the First Workshop on Syntactic Analysis of Non-Canonical Language</em> (SANCL).#}
{#        | <a href="https://sites.google.com/site/sancl2012/home/shared-task/results">[shared-task results]</a>#}
{#      </div>#}
{#    </div>#}
{##}
{#  </div>#}
{#</p></div>#}
{##}
{#<div class="row"><p>#}
{#  <div class="col-md-2">PATENTS</div>#}
{#  <div class="col-md-10">#}
{#    <div class="row"><div class="col-md-12">#}
{#        Wanxiang Che, <strong>Yijia Liu</strong>, Ting Liu, and Yanyan Zhao. 2016.#}
{#        <a href="http://www.patexplorer.com/patent/view.html?patid=CN201510604035.0&sc=&q=%E4%B8%80%E7%A7%8D%E4%B8%AD%E6%96%87%E5%88%86%E8%AF%8D%E5%A2%9E%E9%87%8F%E5%AD%A6%E4%B9%A0%E6%96%B9%E6%B3%95&fq=&sort=&sortField=&page=1&rows=10#1/CN201510604035.0/detail/abst">An Incremental Training Method for Domain Adaptation in Chinese Word Segmentation, CN201510604035.0</a>.#}
{#    </div></div>#}
{#  </div></p>#}
{#</div>#}

<div class="row"><p>
  <div class="col-md-2">PROJECTS</div>
  <div class="col-md-10">

    <div class="row">
      <div class="col-md-12">
        <div>Optimizing distributed training of deep neural networks by reducing information transmission<span class="pull-right">2019.2 - Present</span></div>
{#     With the help of ., optimize distributed training of deep neural networks based on Facebook AI research#}
        <ul>
          <li>Utilize PyTorch, NCCL, remote GPUs etc. based on <a href="https://github.com/pytorch/fairseq" target="_blank">Facebook AI research to accelerate training</a> </li>
          <li>Contributed the ideas of using stochastic gradient push for training a transformer</li>
        </ul>
      </div>
    </div>
    <p></p>

    <div class="row">
      <div class="col-md-12">
        <div>Bidding bots for four auction games implemented with python <span class="pull-right">2019.1 - 2019.4</span></div>
        <ul>
          <li>The second bot beats almost all opponents (7.2/7.5) among 60+ bots</li>
{#          <li>developed 4 modules including Chinese word segmentation, POSTagging, NER and Dependency parsing in a perceptron algorithm framework.</li>#}
{#          <li>developed the RESTful API and contributed to the development of website.</li>#}
        </ul>
      </div>
    </div>
    <p></p>

      <div class="row">
      <div class="col-md-12">
        <div>Image classification and data analysis with machine learning <span class="pull-right">2019.1 - 2019.3</span></div>

        <ul>
          <li>Implement a reasonable CNN architecture to solve binary image classification problem</li>
          <li>A RNN architecture for pollution analysis task</li>
{#          <li>developed the RESTful API and contributed to the development of website.</li>#}
        </ul>
      </div>
    </div>
    <p></p>

        <div class="row">
            <div class="col-md-12">
        <div>Sentiment Classification for social media (Twitter) <span class="pull-right">2018.10 - 2018.12</span></div>

        <ul>
          <li>Where sentiment is one of {positive, negative, neutral}, Apply text preprocessing and feature extracting</li>
          <li>Build a logistic regression model with 65% accuracy.</li>
{#          <li>developed the RESTful API and contributed to the development of website.</li>#}
        </ul>
      </div>
    </div>
    <p></p>


      <div class="row">
      <div class="col-md-12">
        <div><a href="https://jiyuyan.me/CHNS-project/">Data Analysis of Abortion in China from 1991 to 2015</a> Based on <a href="https://www.cpc.unc.edu/projects/china" target="_blank">CHNS</a> <span class="pull-right">2018.10 - 2018.12</span></div>
{#    What associated factors behind induced abortion in China: A Study on CHNS from 1991 to 2015#}
        <ul>
          <li>Produced datasets of post-abortion women among 18 to 52 years old women in 9 provinces in China</li>
          <li>Study associated factors behind induced abortion such as education, health, jobs, son/daughter ratio</li>
          <li>The strength of policy implementation do have a huge impact on women's induced abortion ratio</li>

        </ul>
      </div>
    </div>
    <p></p>

        <div class="row">
     <div class="col-md-12">
        <div>Mobile Social Network demonstration project(ONE simulator, Java)  <span class="pull-right">2017.3 - 2018.7</span></div>

        <ul>
{#         {}{}#}
          <li>Proposed a new message cooperation generation mechanism</li>
          <li>Complete master's thesis <a href="http://gb.oversea.cnki.net/KCMS/detail/detail.aspx?filename=1018708850.nh&dbcode=CMFD&dbname=CMFDREF" target="_blank">Research on Multicast Routing Algorithms in Mobile Social Networks</a> based on this project</li>
{#          <li>developed the RESTful API and contributed to the development of website.</li>#}
        </ul>
      </div>
    </div>
      </div>
      </div>
{#            <div class="row">#}



    <!--
    <div class="row">
      <div class="col-md-12">
        <div><a href="http://sourceforge.net/projects/zpar/">Zpar Project</a>, <span class="pull-right">2013.10 - present</span></div>
        ZPar is statistical multi-language parser. ZPar provides integrated systems that perform word segmentation, part-of-speech tagging, dependency parsing or phrase structure parsing.
        <ul>
          <li>developed transition based non-projective dependency parser.</li>
          <li>developed bug fixes.</li>
        </ul>
      </div>
    </div>
    <p></p>
    -->

    <!--
    <div class="row">
      <div class="col-md-12">
        <div><a href="http://www.cipsc.org.cn/clp2012/task1.html">CLP 2012 Bakeoff Task 1: Chinese Word Segmentation on MicroBlog Corpora</a>, <span class="pull-right">2012.10</span></div>
        I implemented a semi-supervised segmentation system, and it achieved an f1 score of 94.04% on the bakeoff test data.
      </div>
    </div>
    -->

{#  </div>#}


<div class="row"></p>
  <div class="col-md-2">EXPERIENCES</div>
  <div class="col-md-10">

{#    <div class="row">#}
{#      <div class="col-md-12">#}
{#          <div><em>Conference Reviewer/Secondary Reviewer</em>: ACL 2014, CCL 2015, NLPCC 2015, NAACL 2016, IJCAI 2016, SemEval 2016, ACL 2018.</div>#}
{#    </div></div>#}

      <div class="row">
      <div class="col-md-12">
        <div> University(UESTC) fencing team Captain<span class="pull-right">2017 - 2018.7</span></div>
{#    What associated factors behind induced abortion in China: A Study on CHNS from 1991 to 2015#}
        <ul>
          <li>NingGuang Fencing club student coach</li>
          <li>Dedicated to managing the whole team and faculty members for training</li>
            <li><em>The champion</em> in ChengDian cup Fencing team competition</li>
            <li><em>The Third group</em> in VANGO Chengdu Fencing Tournament</li>

        </ul>
      </div>
    </div>
    <p></p>


      <div class="row">
      <div class="col-md-12">
        <div>Teaching assistant(Course TCP/IP)<span class="pull-right">2016.9 - 2017.7</span></div>
{#    What associated factors behind induced abortion in China: A Study on CHNS from 1991 to 2015#}
        <ul>
          <li>Committed to lab classes and Q\&A of nearly 100 students</li>
          <li>Meticulous comments and ratings of the student's experimental reports</li>
{#          <li>The strength of policy implementation do have a impact on women's induced abortion ratio</li>#}

        </ul>
      </div>
    </div>
    <p></p>




  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">TALKS</div>
  <div class="col-md-10">

    <div> <a href="{% static 'censorship.pdf' %}">How sudden censorship can increase access to information</a> at 908 class of the University of Warwick<span class="pull-right">2019.1</span></div>
{#    <div><a href="res/2018-08-19-nlpcc-sws.compressed.pdf">Tips for improving the clarity of your paper (in Chinese)</a><span class="pull-right">2018.08</span></div>#}
  </div>
</p></div>

{#<div class="row"></p>#}
{#  <div class="col-md-2">EMPLOYMENTS</div>#}
{#  <div class="col-md-10">#}
{##}
{#    <div class="row">#}
{#      <div class="col-md-12">#}
{#        <div><em>Research Assistance</em>, Singapore University of Technology and Design. <span class="pull-right">2013.10 - 2014.10</span></div>#}
{#        worked with Dr. <a href="https://frcchang.github.io/">Yue Zhang</a>, on statistical machine translation, Chinese tagging and transition based dependency parsing.#}
{#    </div></div>#}
{#    <p></p>#}
{##}
{#    <div class="row">#}
{#      <div class="col-md-12">#}
{#        <div><em>Intern Researcher and Developer</em>, Baidu Inc., NLP Department. <span class="pull-right">2011.7 - 2011.11</span></div>#}
{#        implemented query template extraction toolkit and built a python extension for baidu wordseg library.#}
{#    </div></div>#}
{##}
{#  </div>#}
{#</p></div>#}

{#<div class="row"></p>#}
{#  <div class="col-md-2">TEACHING EXPERIENCE</div>#}
{#  <div class="col-md-10">#}
{#    <div><em>TA</em>, High level Programming Language, <span class="pull-right">2009 fall, 2010 fall</span></div>#}
{#    <div><em>TA</em>, The Practice of Programming, <span class="pull-right">2011 spring, 2012 spring</span></div>#}
{#  </div>#}
{#</p></div>#}
<div class="row"></p>
  <div class="col-md-2">AWARDS</div>
  <div class="col-md-10">
    <div> Second place in Warwick National Novices Fencing Tournament <span class="pull-right">2018.12</span></div>
    <div>School Graduate Scholarship <span class="pull-right">2016</span></div>
    <div>School People's Scholarship<span class="pull-right">2012, 2013</span></div>
{#          <div>National Computer Rank Examination level 3 <span class="pull-right">Excellent</span></div>#}
{#    <div>National Computer Rank Examination level 2-C language <span class="pull-right">Qualified</span></div>#}
{#      <div>Listening 6.5 Reading 7.5 Writing 6.0 Speaking 6.5 Overall 6.5<span class="pull-right">Ielts</span></div>#}
  </div>
</p></div>

<div class="row"></p>
  <div class="col-md-2">CERTIFICATES</div>
  <div class="col-md-10">
    <div>National Computer Rank Examination level 3 <span class="pull-right">Excellent</span></div>
    <div>National Computer Rank Examination level 2-C language <span class="pull-right">Qualified</span></div>
    <div>Listening 6.5 Reading 7.5 Writing 6.0 Speaking 6.5 Overall 6.5<span class="pull-right">Ielts</span></div>
  </div>
</p></div>


<div class="row"></p>
  <div class="col-md-2">SKILLS</div>
  <div class="col-md-10">
    <div><em>Technique summary</em>: Python, Linux, C, PostgreSQL, Django, HTML, Java</div>
    <div><em>Tools</em>: Git, PyTorch,  VPS,  Docker, Pycharm, Nginx, Jupyter </div>
    <div><em>Language</em>: English, Mardarin(Chinese)</div>
{#    <div><em>Experience</em>: Git, SVN, Valgrind, Apache, Nginx, django (Python)</div>#}
  </div>
</p></div>



</div>

  </div>

  <footer class="text-center">
    &copy; <a href="https://jiyuyan.me">不可思议</a>2019 | This site is built by <a href="https://www.djangoproject.com/" target="_blank">Django</a> and <a href="https://getbootstrap.com/" target="_blank">Bootstrap</a>
{#    This site is built by <a href="http://middlemanapp.com/" target="_blank">Middleman</a> and#}
{#    <a href="http://getbootstrap.com/">bootstrap</a>.#}
  </footer>
</div>


<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-20774106-1', 'yjliu.net');
ga('send', 'pageview');
</script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>#}
      <script>window.jQuery || document.write('<script src="/docs/4.3/assets/js/vendor/jquery-slim.min.js"><\/script>')</script><script src="/docs/4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
</body>
</html>
